{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
  <div class="container">
    <h3 style="margin-top:80px;">Your Search Result is Here :-</h3>

    {% if data|length < 1 %} Your search query :- <b>{{query}}</b> <br>
      did not match any documents. <br>
      Suggestions: <br>
      <ul>
        <li>Make sure that all words are spelled correctly. </li>
        <li>Try different keywords.</li>
        <li>Try more general keywords.</li>
      </ul>
  </div>

  <div class="container">
    <img src="https://media.tenor.com/unvXyxtdn3oAAAAC/no-result.gif" class="img-fluid" alt="">
  </div>

  {% endif %}

  <!-- Slider 1 -->
  <div class="owl-carousel" id="slider1">
    {% for d in data %}
    <a href="{% url 'product-detail' d.id %}" class="btn">
      <div class="item"><img src={{d.product_image.url}} alt="" height="200px"><span
          class="fw-bold">{{d.title}}</span><br><span class="fs-5">Rs. {{d.discounted_price}} </span></div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock main-content %}